/*estilização do corpo da pg*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(236, 238, 146);
    height: 100vh;/*vai c adequar a tela q abrir bom colocar*/
    display: flex;/*para responsivo*/
    flex-direction: column;/*da a direção do site um em cima do outro*/
    justify-content: space-between;  /*direciona aonde tem q ficar as partes*/
}

/*estilização header*/

header{
    width: 100%;
}

header img{
    width: 100%;
    height: 20rem;
}  

/*estilo main */

main{
    text-align: center;
}  

/*estilização dos cards*/

section#cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

#card{
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 2px 2px 2px 2px #00000020;
}

#card h1{
    font-size: 1.5rem;
    margin: 0rem 0 1rem 0;
    text-align: center;

}

#card p{
    margin: 2rem 0 2rem 0;
    font-size: 1rem;
    text-align: center;
}

#card img{
    width: 100%;
    margin: 0 auto; 
}

#card h3{
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
    text-align: center;
}

/*estilização do botão*/

section#cards button{
    border: solid 2px rgb(251, 255, 4);
    padding: 2rem 5rem 2rem 5rem;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    margin: 2rem auto;
    background-color: rgb(243, 189, 73);
    width: 20%;
    justify-content: center;
    border-radius: 2rem;
    cursor: pointer;
}

section#cards button:hover{
    color: black;
    background-color: rgb(255, 208, 0);
    transform: scale(1.1);
    transition: all.5s;
}
 

/*estilização do footer*/

footer{
    background-color: rgb(255, 153, 0);
    padding: 3rem 3rem 3rem 3rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

#pe:hover{
    font-weight: bold;
}

/* @media only screen and (min-width: 900px) and (max-width:1200px){
    
}  */








